
<style>
    #page {
        margin: 0 15px;
        padding-top: 30px;
    }

    .form-group.error input {
        border-color: #ee4141;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(238, 65, 65, .4);
    }

    .form-group.error label.error {
        margin-top: 5px;
        color: #ee4141;
    }

    .pod {
        padding: 25px;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }

        .pod h3 {
            text-align: center;
            margin: 10px 0 30px;
            font-family: 'Lobster', cursive;
        }
</style>

<div class="d-none" role="alert" id="alert-invalid-password">
   
</div>

<div id="password-info">
    <ul class="password-rules">
        <li id="pr-length" class="clearfix pr-li" aria-label="It Should be 8 to 15 characters">
            It Should be 8 to 15 characters
        </li>
        <li id="pr-capital" class="clearfix pr-li" aria-label="At least 1 uppercase letter">
            At least 1 uppercase letter
        </li>
        <li id="pr-lowercase" class="clearfix pr-li" aria-label="At least 1 lowercase letter">
            At least 1 lowercase letter
        </li>
        <li id="pr-number" class="clearfix pr-li" aria-label="At least 1 number">
            At least 1 number
        </li>
        <li id="pr-special-character" class="clearfix pr-li" aria-label="At least 1 special character (!,@@,#,$,*)">
            At least 1 special character (!,@@,#,$,*)
        </li>
    </ul>
    <p aria-live="polite" style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;"><span id="valid-rule-speech"></span></p>
</div>