<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom styles for this template */
        body {
            background-color: #f8f9fa;
        }

        .error-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .error-content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <div class="error-content">
            <h1 class="display-4">Oops!</h1>
            <p class="lead">Something went wrong.</p>
            <a href="/" class="btn btn-primary link-u">Go to Home</a>
        </div>
    </div>
</body>
</html>
