@model CP_ForgotPasswordVm
@inject IConfiguration Configuration


@{
    ViewData["Title"] = "Forgot Password";

    var siteKey = Configuration.GetSection("GoogleRecaptchaV3").GetSection("Sitekey").Value ?? "";
    var tenant = CommonFunctions.GetActiveTenant();
    var tenantDir = tenant?.DomainDirectory ?? "oh";

}

<!-- Sign up design code starts -->
<section class="sign-up-section">
    <form asp-antiforgery="true" asp-controller="Jobseeker" asp-action="ForgotPassword" method="post" id="frm">

        <input type="hidden" name="googleCaptcha" id="googleCaptcha" value="" />
        <input type="hidden" name="googleCaptchaAction" id="googleCaptchaAction" value="Program_Manager_Login" />

        <div class="container">

            <div class="row justify-content-center">

                <div class="col-xl-5 col-lg-6 col-md-12">
                    <div class="sign-up-block">
                        <h1 class="mb-0">Recover Password</h1>
                        <small><span class="required">*</span> Indicates a required field</small>
                        <div class="row my-3">
                            <div class="col-12">
                                <label for="Email" class="form-label">Your Registered Email <span class="required">*</span></label>
                                <input aria-describedby="Email-error" asp-for="Email" type="text" class="form-control" id="Email" placeholder="Your email id" required />
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <button id="btnSubmit" type="button" data-style="slide-up" data-spinner-color="#ffffff" class="w-100 btn-primary ladda-button">
                                    Email My Recovery Link
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="sign-in-terms mb-0">
                                    Don't remember your registered email?
                                    <a asp-controller="Home" asp-action="Login" class="text-primary text-decoration-none" target="_blank">Contact our support</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
<!-- Sign up design code ends -->


@section Styles{
}

@section Scripts
    {
    <script src="https://www.google.com/recaptcha/enterprise.js?render=@(siteKey)"></script>

    <script>
        $(function () {
            $('#btnSubmit').on('click', function (e) {
                e.preventDefault();
                if ($("#frm").valid()) {
                    var ladda = window.laddaStart('btnSubmit');
                    grecaptcha.enterprise.ready(function () {
                        grecaptcha.enterprise.execute('@siteKey', { action: $('#googleCaptchaAction').val() }).then(function (token) {
                            $('#googleCaptcha').val(token);
                            $('#frm').submit();
                        });
                    });
                }
            });
        });
    </script>
}
